# Core
torch==2.4.0
torchvision
transformers
datasets
accelerate
peft
bitsandbytes
sentencepiece
protobuf
wandb
cut_cross_entropy
hf_transfer
msgspec
tyro
boto3
pyarrow==17.0.0
# flash-attn==2.6.3
trl<0.9.0
s3transfer

boto3
botocore 
s3fs
fsspec

# Unsloth
# unsloth # pin a known-good version; or the latest that supports HF 4.43
# unsloth_zoo
# RL extra (only needed for rlhf stage)
#google-generativeai==0.7.2

# AWS
sagemaker==2.219.0

# Misc
python-dotenv==1.0.1

timm

xformers<0.0.27

torchvision

# pip uninstall transformer-engine
# pip uninstall unsloth -y
# pip install --upgrade --no-cache-dir "unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git"


